<h3>Search Users</h3>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/search">
    <div class="form-group">
        <input class="form-control mr-sm-2" name="id" type="text" placeholder="Search user by id">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
</form>